@font-face {
  font-family: "iconfont"; /* Project id 2639936 */
  src: url('./iconfont/iconfont.woff2?t=1625580515085') format('woff2'),
       url('./iconfont/iconfont.woff?t=1625580515085') format('woff'),
       url('./iconfont/iconfont.ttf?t=1625580515085') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e6b6";
}

.icon-jiantou:before {
  content: "\e64a";
}

.icon-fanhui:before {
  content: "\e624";
}

.icon-sousuo:before {
  content: "\e632";
}

